/* General Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Header Background */
#header-bg {
    background-image: url(../images/large\ logo.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    /* padding: 2rem 7rem; */
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 10rem;
    animation: change 20s infinite ease-in-out;
}

/* @keyframes change {
    40% {
        background-image: url(../images/grapes-5603367_1920.jpg);
    }
} */

/* Logo Styling */
.logo {
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30pt;
    font-weight: 15rem;
}

/* Navigation */
#nav-links {
    padding-top: 0.5rem;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
}

.nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color:#045142bd;
}

.nav img {
    width: 100px;
    padding-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Header Text */
.header-text {
    color: white;
    font-size: 25pt;
    margin-top: 12rem;
    margin-bottom: 6rem;
    text-align: center;
}

@media (max-width: 1024px) {
    
    #header-bg {
        height: 60vh; 
        padding: 2rem 5rem; 
    }

    .logo {
        font-size: 24pt;
    }

    #nav-links {
        gap: 30px;
    }

    .nav-item a {
        font-size: 18px; 
    }

    .header-text {
        font-size: 22pt; 
        margin-top: 8rem;
        margin-bottom: 4rem; 
    }
}

@media (max-width: 768px) {
    #header-bg {
        height: 50vh; 
        padding: 2rem 3rem; 
    }

    .logo {
        font-size: 20pt; 
    }

    #nav-links {
        flex-direction: column; 
        gap: 15px; 
    }

    .nav img {
        width: 80px; 
    }

    .nav-item a {
        font-size: 16px; 
    }

    .header-text {
        font-size: 20pt; 
        margin-top: 5rem; 
        margin-bottom: 3rem;
    }
}

@media (max-width: 480px) {
    #header-bg {
        height: 40vh;
        padding: 2rem 2rem; 
    }

    .logo {
        font-size: 18pt; 
    }

    #nav-links {
        gap: 10px; 
    }

    .nav img {
        width: 60px;
    }

    .nav-item a {
        font-size: 14px;
    }

    .header-text {
        font-size: 18pt;
        margin-top: 4rem; 
        margin-bottom: 5rem;
    }
}


/* About Section */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    gap: 2rem;
    background-color: #f5f5f5;
}

.about-content {
    flex: 1;
    padding: 2rem;
}

.about-content h2 {
    font-size: 2.5rem;
    color: #045142; 
    margin-bottom: 1.5rem;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: black;
}
.about-btn {
    color: white;
    background-color:#045142;
    padding: 15px 35px;
    border: none;
    border-radius: 2rem;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .about-content {
        padding: 1rem;
    }

    .about-image img {
        width: 90%;
    }
}


/* Services Section */
.services {
    background-color: #0451424b;
}

.services-text {
    padding-top: 4rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 40px;
    color: #045142;
}

.services-img h3 {
    color: #045142;
    font-size: 15px;
    text-align: left;
    padding: 10px 10px;
    padding-bottom: 15rem;
}

.services-images {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4rem;
    padding-left: 5rem;
    padding-right: 3rem;
}

.services-images img {
    transition: transform 0.6s;
}

.services-images img:hover {
    transform: scale(1.1);
}

.services-images img {
    width: 100%;
    height: 65%;
    background-color: white;
    color: white;
    box-shadow: 0 4px 8px;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Footer Styling */
.footer {
    background-color: #045142bd;
    color: #fff;
    padding: 40px 0;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 0 20px;
}

.list {
    width: 30%;
}

.list h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.list ul {
    list-style-type: none;
    padding: 0;
}

.list ul li {
    margin: 10px 0;
}

.list ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.list ul li a:hover {
    color: #ff9f00;
}

.social-media a {
    font-size: 20px;
    color: #fff;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #ff9f00;
}

/* End Text */
.endText {
    text-align: center;
    background-color: #1f1f1f;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .list {
        width: 80%;
        text-align: center;
    }

    .social-media a {
        font-size: 18px;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 30px 0;
    }

    .list h4 {
        font-size: 16px;
    }

    .list ul li a {
        font-size: 14px;
    }

    .endText {
        font-size: 12px;
    }
}

.social a:hover {
    transform: scale(1.06);
}

/* Testimonials Section */
.testimonials-section {
    margin-top: 7rem;
    text-align: center;
    padding: 50px 20px;
    background-color: #f5f5f5;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.swiper-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-content {
    background-color: #045142bd;
    width: 100%;
    max-width: 500px;
    height: 200px;
    color: black;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.car-content h5 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.car-content p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
}

.testimonials-swiper {
    position: relative;
}

.testimonials-swiper .swiper-button-next,
.testimonials-swiper .swiper-button-prev {
    color: #045142bd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.testimonials-swiper .swiper-button-next {
    right: 10px;
}

.testimonials-swiper .swiper-button-prev {
    left: 10px;
}

/* Container for Form and Image */
.container {
    margin-top: 7rem;
    display: flex;
    height: 100vh;
}

.image-container {
    flex: 1;
    background-color: #f0f0f000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7rem;
}

.form-container {
    flex: 1;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 25px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #045142;
    color: white;
    border: none;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    #header-bg {
        padding: 2rem 3rem;
        height: 50vh;
    }

    .logo {
        font-size: 20pt;
    }

    #nav-links {
        flex-direction: column;
        gap: 20px;
    }

    .about {
        flex-direction: column;
        padding: 2rem;
    }

    .about img {
        width: 100%;
        height: auto;
    }

    .services-images {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .container {
        flex-direction: column;
        height: auto;
    }

    .image-container, .form-container {
        flex: none;
        width: 100%;
        padding: 1rem;
    }

    .social a {
        height: 30px;
        width: 30px;
        font-size: 16px;
    }
}
